html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

input, a, img, button, textarea{
    outline: none;
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -200px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.footer-push, .footer, .footer-push-small {
    height: 200px;
    margin: 0;
    padding: 0;
}

.footer-push-small, .footer-push-smaller{
    height: 40px;
    clear: both;
}

.footer-push-smaller{
    height: 20px;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CCFFCC, #99CCCC); /* Standard syntax */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.main{
    margin: 0px auto;
    width: 960px;
    padding-top: 50px;
    position: relative;
}

h1.title-text{
    float: left;
    font-family: 'PT Sans', sans-serif;
    margin: 10px 30px 0px 30px;
    font-size: 70px;
    color: #4d4d4d;
    width: 650px;
}

h3.title-text-hint{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    margin: 0px 30px 10px 30px;
    float: left;
    color: #666;
}

#logo {
    float: left;
    margin-left: 100px;
}

.rotate-image {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.action-btn {
    display: block;
    position: relative;
    width: 176px;
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:    -moz-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:     -ms-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:      -o-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background: 		linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    border-radius: 24px;
    -webkit-box-shadow: inset 0 -1px 2px rgba(69,187,39, .2), 0 3px 5px rgba(0,0,0, .3);
    -moz-box-shadow: inset 0 -1px 2px rgba(69,187,39, .2), 0 3px 5px rgba(0,0,0, .3);
    box-shadow: inset 0 -1px 2px rgba(69,187,39, .2), 0 3px 5px rgba(0,0,0, .3);
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    /*text-shadow: 1px -1px 1px rgba(0,0,0, .5);*/
    clear: both;
    margin: 0px auto;
    top: 10px;
}

.action-btn.buy-btn {
    border-top: 2px solid rgba(255, 130, 67, .8);
    background: -webkit-linear-gradient(top, rgba(255, 130, 67, .9) 0%, rgba(255, 117, 56, 1) 100%);
    background:    -moz-linear-gradient(top, rgba(255, 130, 67, .9) 0%, rgba(255, 117, 56, 1) 100%);
    background:     -ms-linear-gradient(top, rgba(255, 130, 67, .9) 0%, rgba(255, 117, 56, 1) 100%);
    background:      -o-linear-gradient(top, rgba(255, 130, 67, .9) 0%, rgba(255, 117, 56, 1) 100%);
    background: 		linear-gradient(top, rgba(255, 130, 67, .9) 0%, rgba(255, 117, 56, 1) 100%);
}

.action-btn.download-btn {
    border-top: 2px solid rgba(92,225,44, .8);
    background: -webkit-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:    -moz-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:     -ms-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background:      -o-linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    background: 		linear-gradient(top, rgba(69,187,39, .9) 0%, rgba(0,135,55, .9) 100%);
    margin-bottom: 15px;
    width: 200px;
}

.email-input-block input{
    border-radius: 20px;
    width: 300px;
    height: 40px;
    background: #7DBCAD;
    border: 0px solid rgba(92,225,44, .8);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.email-input-block{
    position: relative;
    clear: both;
    margin: 0px auto;
    top: 0px;
    display: block;
    width: 420px;
    padding-left: 30px;
}

.email-input-block button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666666;
    text-decoration: underline;
}

.email-input-block h3.title-text-hint{
    margin-left: 0px;
    margin-bottom: 3px;
}

.email-input-block h5.title-text-hint-small{
    margin: 0px 0px 8px 0px;
    width: 100%;
    float:left;
    font-style: italic;
    color: #333333;
}

.snake-animation {
    -o-animation:snake 0.5s  ease-in-out infinite;
    -moz-animation:snake 0.5s  ease-in-out infinite;
    -webkit-animation:snake 0.5s  ease-in-out infinite;
    animation: snake 0.5s  ease-in-out infinite;
}

@-moz-keyframes snake { 0% { -moz-transform: rotate(0deg); left:0px; }
    25% { -moz-transform: rotate(2deg); left:5px; }
    75% { -moz-transform: rotate(-2deg); left:-5px; }
    100% { -moz-transform: rotate(0deg);  left:0px; }}

@-webkit-keyframes snake { 0% { -webkit-transform: rotate(0deg); left:0px; }
    25% { -webkit-transform: rotate(2deg); left:5px; }
    75% { -webkit-transform: rotate(-2deg); left:-5px; }
    100% { -webkit-transform: rotate(0deg);  left:0px; }}

@-o-keyframes snake { 0% { -webkit-transform: rotate(0deg); left:0px; }
    25% { -webkit-transform: rotate(2deg); left:5px; }
    75% { -webkit-transform: rotate(-2deg); left:-5px; }
    100% { -webkit-transform: rotate(0deg);  left:0px; }}

@keyframes snake { 0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); left:0px; }
                   25% { -webkit-transform: rotate(2deg); transform:rotate(2deg); left:5px; }
                   75% { -webkit-transform: rotate(-2deg); transform:rotate(-2deg); left:-5px; }
                   100% { -webkit-transform: rotate(0deg); transform:rotate(0deg);  left:0px; }}

.action-btn span.title {
    position: relative;
    top: 2px;
    width: 100%;
    text-align: center;
    float: left;
}

.action-btn span.info {
    position: relative;
    width: 100%;
    top: -1px;
    font-size: 12px;
    float: left;
    text-align: center;
}

.action-btn span.info .old-price {
   text-decoration: line-through;
}

.twelve-point-star-container{
      position: absolute;
      -webkit-transform:rotate(15deg);
      transform:rotate(15deg);
      top: 70px;
      right: 50px;
}

.twelve-point-star-container.retina-support{
	right: 54px;
}

.twelve-point-star-container.yosemite-support{
	top: 150px;
	right: 46px;
}

.twelve-point-star-container.free-trial-support{
    top: 230px;
    right: 48px;
}

.twelve-point-star-container span{
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 22px;
    margin: 11px 0px 0px 5px;
    float: left;
    text-align: center;
}

.twelve-point-star-container.retina-support span{
	font-size: 13px;
	margin: 10px 0px 0px 7px;
}

.twelve-point-star-container.yosemite-support span{
	font-size: 13px;
	margin: 11px 0px 0px 0px;
}

.twelve-point-star-container.free-trial-support span{
    font-size: 12.5px;
    margin: 10px 0px 0px 2px;
}

.twelve-point-star-container.retina-support .twelve-point-star,
.twelve-point-star-container.retina-support .twelve-point-star:after,
.twelve-point-star-container.retina-support .twelve-point-star:before{
	background: #1DACD6;
}

.twelve-point-star-container.yosemite-support .twelve-point-star,
.twelve-point-star-container.yosemite-support .twelve-point-star:after,
.twelve-point-star-container.yosemite-support .twelve-point-star:before{
	background: #17806D;
}

.twelve-point-star {
    height: 50px;
    width: 50px;
    background: #FF0066;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: inset 0 -1px 2px rgba(69,187,39, .2), 0 3px 5px rgba(0,0,0, .3);
    -moz-box-shadow: inset 0 -1px 2px rgba(69,187,39, .2), 0 3px 5px rgba(0,0,0, .3);
}
.twelve-point-star:before {
    height: 50px;
    width: 50px;
    background: #FF0066;
    content:"";
    position: absolute;
    /* Rotate */
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.twelve-point-star:after {
    height: 50px;
    width: 50px;
    background: #FF0066;
    content:"";
    position: absolute;
    /* Rotate */
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

::-webkit-input-placeholder { color:#E6E8E8; }
::-moz-placeholder { color:#E6E8E8; } /* firefox 19+ */
:-ms-input-placeholder { color:#E6E8E8; } /* ie */
input:-moz-placeholder { color:#E6E8E8; }

h3.thank-you-text {
    font-style: italic;
    color: #FF6699;
    float: left;
    margin: 0;
    font-size: 26px;
}

.mac-update-block{
    clear: both;
    margin: 0px auto;
    width: 125px;
    height: 55px;
    padding-top: 25px;
}

.main .screenshots .screenshot-container {
    width: 400px;
    padding: 15px 40px 40px 40px;
    float: left;
}

.main .screenshots.top .screenshot-container{
    padding-bottom: 0;
}

.main .screenshots .screenshot-container > img{
    padding-bottom: 7px;
}

.main .screenshots .screenshot-container > img,
.main .screenshots .screenshot-container > .screenshot-description {
    float: left;
    position: relative;
    width: 400px;
}

.main .screenshots .screenshot-container .screenshot-description {
    margin: 0px 0px 8px 0px;
    width: 100%;
    float: left;
    font-style: italic;
    color: #333333;
    text-align: center;
    padding: 0px 35px;
    width: 330px;
    font-size: 0.9em;
}

.main .changelist{
    display: block;
    position: relative;
    margin: 40px auto;
    margin-bottom: 30px;
    width: 384px;
}

.main .changelist .changelist-group{
    position: relative;
    width: 100%;
    float: left;
}

.main .changelist .changelist-group{
    color: #4d4d4d;
}

.main .changelist .changelist-group .changelist-group-title{
    color: #333;
}

.main .changelist .changelist-group .changelist-group-title .changelist-group-title-date{
    float: right;
    color: #666;
}
.main .changelist .changelist-group .changelist-group-list-title{
    color: #4d4d4d;
    font-size: 13px;
    padding: 3px 0px 0px 15px;
}

.main .changelist .changelist-group .changelist-group-list-item{
    font-size: 14px;
    margin: 2px 0px;
}

.main .menu {
    position: absolute;
    top: 15px;
    right: 40px;
}

.main .menu > a {
    float: right;
    margin-left: 20px;
    color: #777777;
    text-transform: uppercase;
    font-size: 14px;
}

.main .menu > a.selected {
    color: #4d4d4d;
    text-decoration: underline;
}


.main .contact{
    display: block;
    position: relative;
    margin: 20px auto;
    margin-bottom: 80px;
    width: 384px;
}

.main .contact input,
.main .contact textarea {
    border-radius: 20px;
    width: 300px;
    height: 40px;
    background: #7DBCAD;
    border: 0px solid rgba(92,225,44, .8);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.main .contact .email-input{
    width: 100%;
    margin-bottom: 20px;
}

.main .contact .text-input{
    width: 100%;
    height: 180px;
    resize: none;
}

.main .contact button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666666;
    text-decoration: underline;
    float: right;
}

.main .contact .contact-text-container .contact-text{
    width: 100%;
    float: left;
    font-style: italic;
    color: #666;
    font-size: 17px;
}

.main .contact .contact-text-container .contact-emails{
    float: left;
    margin: 10px 0px 0px 0px;
}

.main .contact .contact-text-container .contact-emails a{
    color: #3399CC;
}

.main .contact .contact-text-container .contact-thanks-text {
    float: left;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #FF6699;
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px;
}

.banners-footer-block{
    position: relative;
    clear: both;
    margin: 10px auto;
    top: 0px;
    display: block;
    width: 420px;
    padding-left: 220px;
}

.banners-footer-block.social{
    margin-top: 15px;
    padding-left: 203px;
    color: #333333;
}

.banners-footer-block.copyrights{
    padding-left: 40px;
    color: #333333;
}

.contact-twitter{
    float: left;
    margin: 10px 0px 10px 0px;
    width: 100%;
    margin-left: 20px;
}

.tweet-block{
    clear: both;
    margin: 0px auto;
    height: 15px;
    width: 70px;
    padding-top: 10px;
}

.main .faq{
    display: block;
    position: relative;
    margin: 30px auto;
    margin-bottom: 30px;
    width: 684px;
}

.main .faq .faq-group{
    position: relative;
    width: 100%;
    float: left;
}

.main .faq .faq-group{
    color: #4d4d4d;
    border-bottom: 1px solid #7DBCAD;
}

.main .faq .faq-group.last{
    border-bottom: none;
}

.main .faq .faq-group .faq-group-question{
    color: #333;
    font-size: 1.1em;
    padding: 8px 0px 5px 0px;
}

.main .faq .faq-group .faq-group-answer{
    color: #4d4d4d;
    padding-bottom: 8px;
}

.main .faq .faq-group .faq-group-answer .faq-group-answer-command{
    color: #333;
    margin-top: 10px;
    background-color: #7DBCAD;
    padding: 5px 10px;
}