.screenshot-item{
  width: 491px;
  height: 510px;
  position: absolute;
  bottom: 95px;
  right: 175px;
  background-repeat: no-repeat;
}

#screenshot-1{
  .screenshot-item;
  background: url("@{images_url}/screenshot-1.png");
  background-size: cover;
}
#screenshot-2{
  .screenshot-item;
  background: url("@{images_url}/screenshot-2.png");
  background-size: cover;
}
#screenshot-3{
  .screenshot-item;
  background: url("@{images_url}/screenshot-3.png");
  background-size: cover;
}
#screenshot-4{
  .screenshot-item;
  background: url("@{images_url}/screenshot-4.png");
  background-size: cover;
}