.row.buttons-top-contianer
  .col-md-12.col-sm-12.col-xs-12
     a(href=download_url, version=current_version)#download-btn.download-btn.action-btn.btn.btn-default.btn-warning.center-block
       | Free Download <strong>MailBar for Mac</strong>
  .col-md-12.col-sm-12.col-xs-12
     a(href="#", data-product=paddle_product_id, data-theme="none", data-allow-quantity="false")#buy-btn.paddle_button.buy-btn.no-margin-buttom.action-btn.btn.btn-default.btn-warning.center-block
       | Buy Now <strong>MailBar for Mac</strong>
  //.col-md-12.col-sm-12.col-xs-12
  //   .free-trial-info.text-center 14-Days Free Trial