footer.footer
    nav.navbar.navbar-default.navbar-static-bottom
      .container-fluid
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
              .container-fluid
                 .row.top-light-border
                    .col-md-3.col-sm-3.col-xs-3
                      a(href="/changelist").navbar-link.center-block.text-center.
                        CHANGELIST
                     .col-md-3.col-sm-3.col-xs-3
                      a(href='/faq').navbar-link.center-block.text-center.
                        FAQ
                     .col-md-3.col-sm-3.col-xs-3
                        a(href="/contacts").navbar-link.center-block.text-center.
                          CONTACTS
                     .col-md-3.col-sm-3.col-xs-3
                        a(href="https://twitter.com/mailbarapp", target="_blank", rel="nofollow").center-block.navbar-link.text-center.
                          TWITTER