footer.footer
    nav.navbar.navbar-default.navbar-static-bottom(role="navigation")
      .container-fluid
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
              .container-fluid
                 .row
                    .col-md-2.col-md-offset-1.col-sm-2.col-sm-offset-1.col-xs-3.col-xs-offset-0.padding-x-0.top-light-border
                      a(href="/changelist").navbar-link.center-block.text-center.
                        CHANGELIST
                    .col-md-2.col-sm-2.col-xs-3.padding-x-0.top-light-border
                      a(href='/faq').navbar-link.center-block.text-center.
                        FAQ
                    .col-md-2.col-sm-2.col-xs-3.padding-x-0.top-light-border
                        a(href="/contacts").navbar-link.center-block.text-center.
                          CONTACTS
                    .col-md-2.col-sm-2.col-xs-3.padding-x-0.top-light-border
                        a(href="https://twitter.com/mailbarapp", target="_blank", rel="nofollow").center-block.navbar-link.text-center.
                          TWITTER
                    .col-md-2.col-sm-2.hidden-xs.padding-x-0.top-light-border
                         a(href="/files/mailbar_press_kit.zip").navbar-link.center-block.text-center.
                           PRESS KIT