.newsletter-form-container
  .row
      .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
         .row
           .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.col-xs-12.col-xs-offset-0
             .newsletter-form-container-title
                 h3.
                    Subscribe to our Newsletter
                 .clearfix
                 b.
                    Stay in touch with our news,
                    including product updates and special offers
                 .clearfix
             h2.thank-you-text.text-center.hidden.
               Thank you for follow us!
             .clearfix
             form#newsletter-form.newsletter-form
                 .form-group
                     input(type="email", placeholder="Enter email", required="").form-control.email-input
                 button(type="submit").btn.btn-default.action-btn.action-dark-btn.pull-right Subscribe
