.questions-container
    each question in questions
        .question-item
            h4.
                Q: !{question.q}
            p.
                A: !{question.a}
            .clearfix
    .clearfix